# Results from model training
data-processing/train/*.png
data-processing/train/labels_correlogram.jpg
data-processing/train/results.csv

# Secrets
data-processing/config.py
*.env

# Misc.
data-processing/__pycache__
data-processing/*.jpg
back-end/app/__pycache__